@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient-radial {
    background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
  }
}

img {
  border-radius: inherit;
}

* {
  font-family: 'Montserrat', sans-serif;
}